html{
  max-width: 30em;
  background-color: #ffe400;
}

::before, ::after{
  box-sizing: inherit;
}

h1{
  text-align: center;
  color: #b21353;
  font-family: 'Sigmar One', cursive;
  text-transform: uppercase;
  font-size: 3rem;
}

nav li{
  display: inline-block;
  text-align: center;
  max-width: 30em;
  color: #ffffff

}
