html {
  max-width: 30em;
}

::before, ::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  display: block;
  border-top: 3px;
  border-bottom: 3px;
}

body {
  margin: 0;
}

h1 {
  background-color: #ffe500;
  text-align: center;
  color: #b20953;
  font-family: 'Sigmar One', cursive;
  text-transform: uppercase;
  font-size: 2.50rem;
  padding: 0;
  margin: 0;

}

nav li {
  display: inline-block;
  background-color: #ffe500;
  text-align: center;
  color: #fff;
  background-color: #ffe500;
  max-width: 30em;
  font-family: georgia, serif;
  padding-bottom: .25em;

}

nav ul {
  margin-top: 0;
}

nav {
  padding-bottom: .75em;
}

nav a {
  color: #fff;
  padding: .5em;
  display: inline-block;
  background-color: #b2a212;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

a,
a:link {
  background-color: #b2a212;
}

a:hover {
  background-color: #b20953;
}

h2 {
  font-family: 'Sigmar One', cursive;
  text-transform: uppercase;
  color: #cc1465;
  font-size: 1.875rem;
  line-height: 1em;
}

main, p {
  font-family: 'Georgia', serif;
  padding: .5em;
  font-size: 1.125rem;
  line-height: 1.5em;
  color: #2f2d13;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding-bottom: 1em;
  font-size: 0.75rem;
  padding-top: .5em;
}

img {
  width: 100%;
}
